/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js/out
/public/lib/*.js
/public/js/app.js
/out
/.repl
*.log
/.env
.*.swp
package*.json
node_modules
