/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/public/lib/*.js
public/fonts/
build
/out
/.repl
*.log
/.env
.*.swp
package*.json
node_modules
