* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

textarea {
  width: 48%;
  float: left;
  font-size: 0.75em;
  padding: 0.5em;
}

pre {
  font-size: 0.75em;
  padding: 0.5em;
  margin: 0.5em;
  float: left;
}
